pillow~=9.3.0
zlib~=1.2.13
gettext~=0.21.0
numpy~=1.23.5
pip~=22.3.1
wheel~=0.37.1
openssl~=1.1.1
tornado~=6.2
six~=1.16.0
setuptools~=65.5.0
matplotlib~=3.6.2
blas~=1.0
certifi~=2022.12.7
python-dateutil~=2.8.2
contourpy~=1.0.5
fonttools~=4.25.0
freetype~=2.12.1
openslide~=3.4.1
pyparsing~=3.0.9
cycler~=0.11.0
packaging~=22.0
cairo~=1.16.0
kiwisolver~=1.4.4
readline~=8.2
